body {
    background-color: #02166d98;
    color: rgb(255, 255, 255);
    font-family: "Edu VIC WA NT Beginner", cursive;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}


button {
    background-color: #b92727;
    color: white;
    font-family: "Edu VIC WA NT Beginner", cursive; 
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}
